.dashboard-section .row{margin-left:-5px;margin-right:-5px;}
.dashboard-section .row .col-lg-1.col-md-1.col-sm-1,
.dashboard-section .row .col-lg-2.col-md-2.col-sm-2,
.dashboard-section .row .col-lg-3.col-md-3.col-sm-3,
.dashboard-section .row .col-lg-4.col-md-4.col-sm-4,
.dashboard-section .row .col-lg-5.col-md-5.col-sm-5,
.dashboard-section .row .col-lg-6.col-md-6.col-sm-6,
.dashboard-section .row .col-lg-7.col-md-7.col-sm-7,
.dashboard-section .row .col-lg-8.col-md-8.col-sm-8,
.dashboard-section .row .col-lg-9.col-md-9.col-sm-9,
.dashboard-section .row .col-lg-10.col-md-10.col-sm-10,
.dashboard-section .row .col-lg-11.col-md-11.col-sm-11,
.dashboard-section .row .col-lg-12.col-md-12.col-sm-12{padding-left:5px;padding-right:5px;}


.dashboard-section{ padding: 2rem 0; position: relative; } 
.dashboard-card {     /*min-height: 170px; */text-align: center; position: relative;/* overflow: hidden; */}
.dashboard-card:before {content: ""; width: 85%; background: #F9FAFC; box-shadow: 0px 3px 20px #0000000b; height: 100%; margin-top: 0.75rem; position: absolute; border-radius: 0.375rem; margin-left: auto; margin-right: auto; right: 0; left: 0; }
.dashboard-card-inner{position: relative;background: #ffffff; margin-bottom: 10px; padding: 20px;-webkit-box-shadow: 0 0 4px 2px rgb(232, 240, 255); box-shadow: 0 0 4px 2px rgb(232, 240, 255); border-radius: 4px; }

/*.dashboard-card:hover {-webkit-box-shadow: 0 0px 30px rgba(15, 60, 216, 0.11); box-shadow: 0 0px 30px rgba(15, 60, 216, 0.11); } 
.dashboard-card:after { content: ''; position: absolute; height: 2px; left:-100%; bottom: 0; -webkit-transition: all 0.4s linear; transition: all 0.4s linear; }
.dashboard-card:hover:after{background-color: #1360fe;height: 2px;-webkit-transition: all 0.4s linear; transition: all 0.4s linear; width: 100%; left: 0 }
*/.dashboard-card-content h2 {font-size: 14px; font-weight:500; color: #091e42; margin: 0; padding-top: 0; text-align: center; }
.dashboard-card-icon {width: 90px; margin: 0 auto 20px; background: #f4f9fc; height: 90px; border-radius: 50%; line-height: 90px; }

.vd-card{-webkit-box-shadow: 0 0 4px 2px rgb(232, 240, 255); box-shadow: 0 0 4px 2px rgb(232, 240, 255); border-radius: 4px;position: relative;margin-bottom: 20px;border: none;}
.vd-card .card-header {padding: .75rem .75rem; margin-bottom: 0; background-color: transparent; border-bottom: 2px solid #f4f9fc; border-radius: 0; }
.dashboard-section .card .card-title {color: #213051;font-size: 13px;font-weight: 600;padding:0;margin-bottom: 0;display: inline-block;}
.vd-card .card-body{padding:10px;}
.add-option-info {display: inline-block; }
.dashboard-section .btn-add {background: #2196f3; border-radius: 2px; display: inline-block; text-align: center; font-size: 13px; font-weight: 600; color: #fff !important; padding: 0 10px; line-height: 25px; border: none; }
.card-bg{ background: #ffedb9;}
.payment-bg{ background: #eef8ff;}
.user-card-list {border: 1px solid #e8f1f6; padding:5px; margin-bottom: 2px; border-radius: 5px; }
.user-card {display: flex; align-items: center; }
.user-avatar {border-radius: 50%; height: 40px; width: 40px; display: flex; justify-content: center; align-items: center; color: #fff; background: #798bff; font-size: 14px; font-weight: 500; letter-spacing: 0.06em; flex-shrink: 0; }
.user-avatar+.user-info{margin-left: 1rem; }
.lead-text {font-size: 12px; font-weight: 600; color: #364a63; display: block; }
.user-card .user-info {color: #8094ae; } 
.lead-text+.sub-text {font-size: 11px; } 
.sub-text {display: block; font-size: 13px; color: #8094ae; line-height: 20px; }


a.btn-green {background: #4CAF50; width: 30px; height: 30px; border-radius: 2px; display: inline-block; text-align: center; }
a.btn-green i {font-size: 14px; line-height: 30px; color: #fff; } 
a.btn-blue{background:#2196f3; width:30px; height: 30px; border-radius: 2px; display: inline-block; text-align: center; } 
a.btn-blue i {font-size: 14px; line-height: 30px; color: #fff; } 
a.btn-red{background:#fc1100; width: 30px; height: 30px; border-radius: 2px; display: inline-block; text-align: center; } 
a.btn-red i {font-size: 14px; line-height: 30px; color: #fff; }
.card-table table{border: 1px solid #f2f7fb;}
.card-table table thead{background: #ffffff; background: -moz-linear-gradient(top,  #ffffff 1%, #f4f9fc 100%); background: -webkit-linear-gradient(top,  #ffffff 1%,#f4f9fc 100%); background: linear-gradient(to bottom,  #ffffff 1%,#f4f9fc 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f9fc',GradientType=0 ); }
.card-table table tr th {font-size: 12px; font-weight: 600; color: #364a63; padding: 8px; border-top:none;border-bottom: 1px solid #e5eff3; }
.card-table table tr td {vertical-align: middle;font-size: 12px; font-weight: 500; color: #66728c; padding: 8px; border-bottom: 1px solid #e5eff3; }
.sno {background: #e6e7fc;width: 30px;height: 30px;display: inline-block;text-align: center;line-height: 30px;font-size: 14px;font-weight: 600;border-radius: 5px;}

.btn-trigger:before {
    position: absolute;
    z-index: -1;
    height: 20px;
    width: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
    content: '';
    background-color: #e5e9f2;
    border-radius: 50%;
    opacity: 0;
    transition: all .3s;
}
.btn-trigger {
    position: relative;
    z-index: 1;
    color: #526484;
}

.btn-trigger:hover:before, .btn-trigger:focus:before, .btn-trigger.active:not(.revarse):before {
    opacity: 1;
    height: 40px;
    width: 40px;
}