.autocomplete-dropdown-container{
    border-bottom: honeydew;
    border-left: honeydew;
    border-right: honeydew;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0 0 2px 2px;
    position: absolute;
    z-index: 999;
    width: 93%;
}
.autocomplete-dropdown-container .suggestion-item, .autocomplete-dropdown-container .suggestion-item--active{
    padding: 5px 8px;
    text-align: left;
    background-color: #fff;
    cursor: pointer;
    border-bottom: solid 1px #ccc;
}
