.advertiser-plan-section{
    background: #F7F8FF;background: -webkit-linear-gradient(to right, #ffeff5, #f0f0ff);
    background: linear-gradient(to right, #ffeff5, #f0f0ff); padding-bottom: 40px;
}
.advertiser-plan-section .pricing-section .toggle{ background-color: #d5022a;}
.advertiser-plan-section .pricing-section .toggler{ color: #777;}
.advertiser-plan-section .pricing-section .toggler--is-active{ color: #d5022a;}
.OfferContentSecond{width: 80%;
    padding: 10px 10px 10px 3.3rem;
    margin: auto;
    background: rgb(255, 255, 255, 0.4);
    border-radius: 20px;
    border: 1px solid #f7e3f0;
    box-shadow: 5px 10px 12px -6px #ded8ef;
    color: #212529;
}
.OfferContentSecond h4 {padding-bottom: 0px !important; text-align: center; font-size: 1.6rem; font-weight: 600;}
.OfferContentSecond ul li{list-style-type: decimal; line-height: 22px; margin-bottom: .6rem; font-size: 16px; }
.OfferContentSecond p{font-size: 16px;}
.termsCondition p{font-style: italic; font-size: 14px; margin:30px 0 0 14px; }
.ContentHeight-fix{height: 230px; min-height: 230px;}

.pricing-table .block-heading {
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center; 
  }
  
  .pricing-table .block-heading h2 {
    color: #3b99e0;
  }
  
  .pricing-table .block-heading p {
    text-align: center;
    max-width: 420px;
    margin: auto;
    opacity: 0.7; 
  }
  
  .pricing-table .heading {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  
  .pricing-table .item {
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    border-top: 2px solid #d5022a;
    padding: 30px 20px;
    overflow: hidden;
    position: relative;
    border-radius: 10px; 
  }
  
  .pricing-table .col-md-5:not(:last-child) .item {
    margin-bottom: 30px; 
  }
  
  .pricing-table .item button {
    font-weight: 600; 
  }
  
  .pricing-table .ribbon {
    width: 160px;
    height: 32px;
    font-size: 13px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
    background: #012064;
    transform: rotate(45deg);
    position: absolute;
    right: -42px;
    top: 20px;
    padding-top: 4px; 
  }
  .pricing-table .item .price-info{ padding-top: 0px;}
  .pricing-table .item p {
    text-align: center;
    margin-top: 20px;
    opacity: 0.7; 
    font-size: 16px;
  }
  
  .pricing-table .features .feature {  font-weight: 600; }
  
  .pricing-table .features h4 {
    text-align: center;
    font-size: 18px;
    padding: 5px; 
  }
  .pricing-table .price-info{ display: contents;}
  .pricing-table .price-info .price{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: #580616; 
    width: 100%;
    margin-bottom: 20px;
  }
  .pricing-table .buy-now button {
    text-align: center;
    margin: auto;
    font-weight: 600;
    padding: 9px 0; 
  }
  
  .item:hover{border:1px solid #ffc8d2; border-top: 2px solid #ffc8d2;}
  
   button.btn.btn-block.SubmitBtn {
       background: #d5022a; color: #fff; border: 1px solid #d5022a; font-size: 1rem; line-height: 1.5;}
  
.btn.btn-block.btn-outline-primary.outline-SubmitBtn{color: #d5022a; border-color: #d5022a;font-size: 1rem; line-height: 1.5;}
.btn.btn-block.btn-outline-primary.outline-SubmitBtn:hover{color: #fff; background-color: #d5022a;}
.item .heading h4{font-size: 20px; padding-bottom: 8px; color: #580615; font-weight: 600; text-transform: uppercase;}
  