.full-width-modal-section.modal-dialog { max-width: 700px; }
.filter-button-section { padding-top: 20px; }
.backButtonRight{ position: absolute; right: 15px;}
.input-hour{ width: 47%; float: left; margin-right: 10px;}