.page-wrapper{ margin-top: 10px;}
.page-wrapper .container { max-width: 95%;}
.page-wrapper .container-fluid {padding: 25px 30px; }
.vd-card{-webkit-box-shadow: 0 0 4px 2px rgb(232, 240, 255); box-shadow: 0 0 4px 2px rgb(232, 240, 255); border-radius: 4px;position: relative;margin-bottom: 20px;border: none;}
.vd-card .card-header {padding: .75rem .75rem; margin-bottom: 0; background-color: transparent; border-bottom: 2px solid #f4f9fc; border-radius: 0; }
.card-title {color: #274388;font-size: 14px;font-weight: 600;padding:0;margin-bottom: 0;display: inline-block;}
.vd-card .card-body{padding:10px;}
.add-option-info {display: inline-block; }
a.btn-add {background: #2196f3; border-radius: 2px; display: inline-block; text-align: center; font-size: 13px; font-weight: 600; color: #fff !important; padding: 0 10px; line-height: 25px; }

.form-service-listing {margin-bottom: 20px; } 
.form-info {padding: 10px; /* background: #fdfeff; */ position: relative; margin-bottom: 20px; /* border: 1px solid #f2f7fc; */ }
.form-info .row{margin-left: -5px; margin-right: -5px}
.form-info .row .col-md-2,
.form-info .row .col-md-3,
.form-info .row .col-md-4,
.form-info .row .col-md-5,
.form-info .row .col-md-6,
.form-info .row .col-md-12{padding-left: 5px; padding-right: 5px;}
.form-info .form-group label {margin-bottom: 0; font-size: 12px; color: #000; cursor: pointer; }
.form-info select.form-control {height:38px !important; font-size: 12px; color: #000; border: 1px solid #e5eff3; outline: none; box-shadow: none; }
.form-info input.form-control {height: 38px !important; font-size: 12px; color: #000; border: 1px solid #e5eff3; outline: none; box-shadow: none; }
.form-info textarea.form-control {    height: 70px; font-size: 12px; color: #000; border: 1px solid #e5eff3; outline: none; box-shadow: none; }
button.submit-btn {background: #2196f3; color: #fff; border: none; padding: 6px 15px; font-weight: bold; border-radius: 5px; }

.form-service-listing h2 {font-size: 13px; font-weight: bold; color: #274388; margin-top: 0; padding-top: 0; } 
.form-service-listing h4 {margin-bottom: 0; font-size: 12px; font-weight: 600; color: #274377; }

ul.form-checkbox-list {margin: 0; padding: 0; list-style: none; }
ul.form-checkbox-list li {display: inline-block; padding-right: 20px;width: 33%;}

.CRCheckbox { width: 100%; margin: 0; margin-bottom: 0px; font-weight:normal; font-size: 13px; margin-bottom: 4px; }
.CRCheckbox label {padding-left: 31px; position: relative;font-weight: 400 !important; display: inline-block; padding: 0 0 0 2em; margin-right: 10px; height: 1.5em; line-height: 1.5; cursor: pointer; }
.CRCheckbox label::before,
.CRCheckbox label::after {position: absolute; top: 0; left: 0; display: block; width: 17px; height: 17px; }
.CRCheckbox label::before {content: " "; border: 1px solid #e5e5e5; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.CRCheckbox input[type="checkbox"]{position: absolute; opacity: 0; z-index: -1; margin: 0; }
.CRCheckbox input[type="checkbox"] + label::after {content: "\2714"; color: #FFF; line-height: 1.5; text-align: center; border: none; }
.CRCheckbox input[type="checkbox"]:checked + label::before {background:#1360fe; border-color:#1360fe ; }
.CRCheckbox input[type="checkbox"] + label::after{-webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); }
.CRCheckbox input[type="checkbox"]:checked + label::after{-webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }

.file-box {background: #fcfcfd; padding: 10px; border-radius: 5px; text-align: center; }
.file-box h3 {font-size: 12px; font-weight: 600; color: #274377; padding: 0; } 
.inputfile {width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1; }
.inputfile + label {max-width: 80%;   outline: none; margin: 0; font-size:10px; /* 20px */ font-weight: 500; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; display: inline-block; overflow: hidden; /*padding: 0.625rem 1.25rem;*/ /* 10px 20px */ }
.no-js .inputfile + label {display: none; }
.inputfile:focus + label,
.inputfile.has-focus + label {outline: 1px dotted #000; outline: -webkit-focus-ring-color auto 5px; }
.inputfile + label svg {width: 1em; height: 1em; vertical-align: middle; fill: currentColor; margin-top: -0.25em; /* 4px */ margin-right: 0.25em; /* 4px */ }
.inputfile-4 + label {color: #a0b7ca; }
.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {color: #a0b7ca; }
.inputfile-4 + label figure {width: 70px;height: 70px;border-radius: 4px;background-color: #fff;display: block;padding: 20px;margin: 0 auto 10px;border:1px solid #e5eff3;}
.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {background-color:#ffffff; }
.inputfile-4 + label svg {width: 100%; height: 100%; fill:#c0ceda; }
